:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}
.wrapper-split {
  width: 100%;
  height: 100vh;
  background-color: #333;
  position: relative;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.right {
  right: 0;
  background: url('https://50projects50days.com/projects/split-landing-page/xbox.jpg') no-repeat;
  background-size: cover;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.left {
  left: 0;
  background: url('https://50projects50days.com/projects/split-landing-page/ps.jpg') no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.split h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 10%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin: 30px;
}

.split a.btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 14rem;
  padding: 1.5rem;
  text-decoration: none;
  background-color: transparent;
}
